.dataframe {
    display: inline-block;
}
.dataframe td {
    vertical-align: middle;
    text-align: right;
}
tbody tr:hover {background: rgba(66, 165, 245, 0.2);}

.quarto-figure {
  text-align: left;
}

.quarto-figure img {
  display: block;
  margin-left: 0;
}

p {
  text-align: justify;
}

/* Make all tables smaller */
table {
  font-size: 0.85em; /* adjust as needed */
}

/* Optional: also reduce header font size */
table th {
  font-size: 0.85em;
}

/* Add space only under code outputs */
.cell-output {
  margin-bottom: 1.5em;  /* adjust spacing */
}

/* Add space *before* H2 headings */
h2 {
  margin-top: 2.5em;   /* adjust to taste */
}
h3 {
  margin-top: 1.5em;   /* adjust to taste */
}